.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
}

.ql-editor p {
  color: #000000;
  font-size: 14px;
}

.comp-form {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  margin: 8px 24px;
  input {
    padding: 6px 6px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
  }
}

.comp-header {
  text-align: right;
  font-weight: bolder;
}

.comp-options {
  text-align: right;
  padding: 24px 40px;
  .mb-button {
    font-size: 12px;
    letter-spacing: 1px;
    padding: 4px 16px;
    font-weight: bolder;
  }
}

.button-disc:hover {
  background-color: #e74c3c;
  color: #ffffff;
  border-color: #e74c3c;
}

.button-save:hover {
  background-color: #00a388;
  color: #ffffff;
  border-color: #00a388;
}

.button-send:hover {
  background-color: #3498db;
  color: #ffffff;
  border-color: #3498db;
}

@media screen and (max-width: 400px) {
  .comp-options {
    padding: 24px 0px;
    .mb-button {
      padding: 2px 10px;
    }
  }
}

@media screeen and (max-width: 460px) {
  .comp-form {
  }
}
