.inbox {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.inbox-container {
  display: flex;
  flex-flow: row nowrap;
}

.in-mailboxes {
  padding: 8px 0px;
  border-right: 1px solid #efefef;
  min-width: 300px;
}

.in-group-title {
  font-size: 10px;
  letter-spacing: 1px;
  padding: 8px 32px;
}

.in-item {
  color: #000000;
  padding: 16px 32px;
  &:hover {
    background-color: rgb(244, 241, 241);
  }
}

.in-item-icon {
  min-width: 15px;
  text-align: center;
}

.in-item-title {
  padding: 0px 16px;
}

.group-mailboxes > div:nth-child(2) {
  background-color: #3498db;
  color: #ffffff;
}

.group-tags > div:nth-child(2) > div {
  color: #00a388;
}

.group-tags > div:nth-child(3) > div {
  color: rgb(231, 76, 60);
}

.in-spacer {
  margin: 0px 16px;
  border-bottom: 1px solid #efefef;
}

.in-item .sh-label {
  margin-left: auto;
}

.group-mailboxes .sh-label {
  background-color: #ffffff;
  color: #3498db;
}

.group-others .sh-label {
  background-color: rgb(231, 76, 60);
  color: #ffffff;
}

.email {
  margin: 0px 16px;
  padding: 16px 0px;
  border-bottom: 1px solid #efefef;
  &:hover {
    background-color: lightyellow;
    cursor: pointer;
  }
}

.email-main {
  padding: 0px 8px;
}

.email-name {
  color: #000000;
}

.email-extra {
  margin-left: auto;
  text-align: right;
  min-width: 60px;
  color: lighten(#839497, 25%);
}

.email-content {
  margin: 0px 8px;
}

@media screen and (max-width: 750px) {
  .in-mailboxes {
    display: none;
  }
}
