.mail {
  font-size: 15px;
}

.mail-from {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.from-user {
  display: flex;
  align-items: center;
}

.from-info {
  margin: 0px 8px;
}

.from-email {
  color: #000000;
  font-weight: bolder;
}

.from-subject,
.from-date {
  color: lighten(#839497, 25%);
  margin-top: 4px;
}

.from-extra {
  margin-left: auto;
  text-align: center;
}

.attach-file {
  margin: 8px 0px;
  display: flex;
  align-items: center;
}

.attach-size {
  color: lighten(#839497, 25%);
}

.attach-download {
  margin-left: auto;
  color: #00a388;
  font-weight: bolder;
  cursor: pointer;
}

.mail-reply {
  border-bottom: none;
  padding: 24px;
  cursor: pointer;
  a {
    text-decoration: none;
    color: #839497;
  }
}

.reply-box {
  border: 2px solid #839497;
  padding: 8px;
  height: 150px;
}

@media screen and (max-width: 700px) {
  .from-extra {
    margin: 16px auto;
  }
}
