.mail {
  font-size: 15px;
}

.mail-from {
  justify-content: space-between;
}

.from-user img {
  border-radius: 50%;
  width: 40px;
  border: 3px solid #bdd4de;
  margin-right: 8px;
}

.from-email {
  color: #000000;
  font-weight: bolder;
}

.from-subject,
.from-date {
  color: lighten(#839497, 25%);
  margin-top: 4px;
}
.from-extra {
  text-align: center;
}

.from-tag {
  margin: auto;
  font-weight: bolder;
  color: #ffffff;
  background-color: #3498db;
  padding: 2px 4px;
  border-radius: 4px;
  font-size: 10px;
}

.attach-file {
  margin-top: 16px;
}

.attach-size {
  color: lighten(#839497, 25%);
}

.attach-download {
  margin-left: auto;
  color: #00a388;
  font-weight: bolder;
  cursor: pointer;
}

.reply-box {
  border: 2px solid #839497;
  padding: 8px;
  height: 150px;
  cursor: text;
}
