@import "./_compose.scss";
@import "./_inbox.scss";
@import "./_mail.scss";

$menus: #efefef;
$borders: darken($menus, 10%);

.mb-block {
  border-bottom: 1px solid $menus;
  padding: 24px 24px;
}

.mail-actions {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.mb-button {
  border: 2px solid $borders;
  padding: 2px 12px;
  margin-right: 16px;
  cursor: pointer;
  transition: all 200ms;
  font-size: 18px;
}

.button-group {
  margin-right: 16px;
  .mb-button {
    margin: 0;
  }
}

.button-pencil-square-o {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
  &:hover {
    background-color: lighten(#3498db, 5%);
    border-color: lighten(#3498db, 5%);
  }
}

.button-arrow-left:hover,
.button-reply:hover,
.button-reply-all:hover,
.button-share:hover {
  background-color: #00a388;
  border-color: #00a388;
  color: #ffffff;
}

.button-exclamation:hover,
.button-trash-o:hover,
.button-times:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  color: #ffffff;
}

.button-print:hover {
  background-color: #ff6138;
  border-color: #ff6138;
  color: #ffffff;
}

@media screen and (max-width: 420px) {
  .button-group {
    margin-right: 4px;
  }
  .mb-button {
    margin-right: 4px;
    padding: 1px 8px;
  }
}
