@import "./_compose.scss";
@import "./_inbox.scss";
@import "./_mail.scss";

$menus: #efefef;
$borders: darken($menus, 10%);

.mb-block {
  border-bottom: 1px solid $menus;
  padding: 24px 32px;
}

.mail-reply {
  border-bottom: none;
}

.mb-button {
  border-radius: 20px;
  border: 2px solid $borders;
  padding: 2px 12px;
  margin-right: 8px;
  cursor: pointer;
  transition: all 200ms;
}

.button-arrow-left:hover {
  background-color: #00a388;
  border-color: #00a388;
  color: #ffffff;
}

.button-pencil-square-o {
  background-color: #3498db;
  border-color: #3498db;
  color: #ffffff;
  &:hover {
    background-color: lighten(#3498db, 5%);
    border-color: lighten(#3498db, 5%);
  }
}

.button-print:hover {
  background-color: #ff6138;
  border-color: #ff6138;
  color: #ffffff;
}

.button-group {
  margin-right: 8px;
  cursor: pointer;
  transition: all 200ms;
  .mb-button {
    margin: 0;
  }
}

.mb-group-mail {
  .mb-button:hover {
    background-color: #00a388;
    border-color: #00a388;
    color: #ffffff;
  }
}

.mb-group-actions {
  .mb-button:hover {
    background-color: #e74c3c;
    border-color: #e74c3c;
    color: #ffffff;
  }
}

.button-reply {
  border-width: 2px 1px 2px 2px;
  border-radius: 20px 0px 0px 20px;
}
.button-reply-all {
  border-width: 2px 1px 2px 1px;
  border-radius: 0px;
}
.button-share {
  border-width: 2px 2px 2px 1px;
  border-radius: 0px 20px 20px 0px;
}

.button-exclamation {
  border-width: 2px 1px 2px 2px;
  border-radius: 20px 0px 0px 20px;
}

.button-trash-o {
  border-width: 2px 2px 2px 1px;
  border-radius: 0px 20px 20px 0px;
}
