.alert {
  .alert-header {
    padding: 8px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    i {
      position: absolute;
      left: -13px;
      background-color: #2a2c2b;
      color: #e74c3c;
    }
  }
}
