.history {
  .social-user {
    padding: 8px 0;
    .social-name {
      padding: 0;
    }
    img {
      position: absolute;
      left: -20px;
    }
  }
  .friendreq-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
