.history {
  margin-left: 40px;
  padding: 16px 24px 16px 32px;
  border-left: 2px solid grey;
  position: relative;
  font-size: 14px;
  .history-event {
    margin-bottom: 16px;
  }
  .social-user {
    padding: 8px 0;
    .social-name {
      padding: 0;
    }
    img {
      position: absolute;
      left: -20px;
    }
  }
  .history-date {
    color: white;
  }
  .friendreq-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.event-meta {
  font-size: 12px;
}

.event div {
  padding: 6px 0px;
}
