$font: #5e6d70;
$bg: #2a2c2b;
$highlight: #1b1d1e;
$accent: #ff530d;

.user {
  background-color: $accent;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.user-name {
  color: white;
}

.user-icon img {
  border-radius: 50%;
}

.tabmenu {
  background-color: darken($accent, 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.tabmenu-box {
  transition: all .3s;
  padding: 8px 16px;
  color: darken($accent, 25%);
  cursor: pointer;
  &:hover {
    background-color: darken($accent, 15%);
  }
}

.tabmenu-active {
  background-color: darken($accent, 30%);
  color: darken($accent, 10%);
  &:hover {
    background-color: darken($accent, 30%);
  }
}

.tab {
  padding: 20px 0;
}

.tab-item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  padding: 12px 24px;
  i {
    padding-right: 16px;
  }
}

.tab-title {
  font-size: 14px;
  font-weight: bolder;
  padding: 0px 24px;
}
