@import "./_main.scss";
@import "./_social.scss";
@import "./_statistics.scss";
@import "./_history.scss";
@import "./_alert.scss";

$bg: #2a2c2b;
$highlight: #1b1d1e;
$theme: #ff530d;

.sidebar {
  background-color: $bg;
  min-height: 100vh;
}

.user {
  background-color: $theme;
  padding: 16px 24px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

.user-name {
  color: white;
  padding-left: 8px;
}

.user img {
  border-radius: 50%;
  width: 40px;
  border: 3px solid #bdd4de;
}

.tabmenu {
  background-color: darken($theme, 10%);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
}

.tabmenu-box {
  padding: 8px 16px;
  color: darken($theme, 25%);
  cursor: pointer;
  &:hover {
    background-color: darken($theme, 15%);
    transition: background-color .3s;
  }
}

.tabmenu-active {
  background-color: darken($theme, 30%);
  color: darken($theme, 10%);
  &:hover {
    background-color: darken($theme, 30%);
    transition: background-color .3s;
  }
}

.tab-pages a {
  color: inherit;
  text-decoration: inherit;
}

.tab-title {
  font-size: 14px;
  opacity: .5;
  font-weight: bolder;
  padding: 16px 24px;
  font-family: 'Montserrat', sans-serif;
}

.tab-transition-enter {
  opacity: 0.01;
}

.tab-transition-enter.tab-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.tab-transition-leave {
  opacity: 0;
}

.tab-transition-leave.tab-transition-leave-active {
  opacity: 0;
}

.timeline {
  margin-left: 40px;
  padding: 16px 0px 16px 32px;
  border-left: 2px solid grey;
  position: relative;
  font-size: 14px;
  .event {
    padding-right: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid grey;
  }
  .event-date {
    color: white;
  }
}

.event-meta {
  font-size: 12px;
}

.event-item div {
  padding: 6px 0px;
}
