@import "./_main.scss";
@import "./_social.scss";
@import "./_history.scss";
@import "./_alert.scss";

$bg: #2a2c2b;
$highlight: #1b1d1e;
$theme: #ff530d;

.sidebar {
  align-self: stretch;
  background-color: $bg;
  transition: all 500ms ease-in;
  max-width: 240px;
  min-width: 240px;
  font-size: 16px;
  min-height: 100vh;
}

.sidebar-overlay {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 700ms;
}

.user {
  background-color: $theme;
  padding: 16px 24px;
}

.user-name {
  color: white;
  margin-left: 8px;
}

.tabmenu {
  background-color: darken($theme, 10%);
  justify-content: center;
}

.tabmenu-box {
  padding: 8px 16px;
  text-align: center;
  width: 100%;
  color: darken($theme, 25%);
  cursor: pointer;
  &:hover {
    background-color: darken($theme, 15%);
    transition: background-color 0.3s;
  }
}

.tabmenu-active {
  background-color: darken($theme, 30%);
  color: darken($theme, 10%);
  &:hover {
    background-color: darken($theme, 30%);
    transition: background-color 0.3s;
  }
}

.tab-pages a {
  color: inherit;
  text-decoration: inherit;
}

.tab-title {
  font-size: 14px;
  opacity: 0.5;
  font-weight: bolder;
  padding: 16px 24px;
  font-family: "Montserrat", sans-serif;
}

.tab-transition-enter {
  opacity: 0.01;
}

.tab-transition-enter.tab-transition-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.tab-transition-leave {
  opacity: 0;
}

.tab-transition-leave.tab-transition-leave-active {
  opacity: 0;
}

.timeline {
  margin-left: 40px;
  padding: 16px 0px 16px 32px;
  border-left: 2px solid grey;
  position: relative;
  .event {
    padding-right: 24px;
    padding-bottom: 16px;
    margin-bottom: 16px;
    border-bottom: 2px solid grey;
  }
  .event-date {
    color: white;
  }
}

.event-meta {
  font-size: 12px;
}

.event-item div {
  padding: 6px 0px;
}

.sidebar-close {
  transition: all 300ms;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  left: 216px;
  top: 2px;
  color: white;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    position: absolute;
    z-index: 1;
    top: 0;
    left: -350px;
  }
}

@media screen and (min-width: 1001px) {
  .sidebar {
    transform: none !important;
  }
  .sidebar-close {
    opacity: 1 !important;
    visibility: hidden !important;
  }
}
