.social-group {
  padding-bottom: 8px;
  .social-user {
    cursor: pointer;
    &:hover {
      background-color: darken($bg, 3%);
      transition: background-color .3s;
    }
  }
}

.social-user {
  padding: 4px 24px;
  img {
    width: 30px;
    border-radius: 50%;
    border: 3px solid;
  }
  .social-name {
    padding-left: 8px;
  }
}

.social-online img {
  border-color: #468966;
}

.social-idle img {
  border-color: #ffb03b;
}

.social-busy img {
  border-color: #8e001c;
}

.social-offline img {
  border-color: #d1dbbd;
}
