.social-group {
  padding-bottom: 8px;
  .social-user {
    cursor: pointer;
    &:hover {
      background-color: darken($bg, 3%);
      transition: background-color .3s;
    }
  }
}

.social-user {
  padding: 4px 24px;
  .social-name {
    padding-left: 8px;
  }
}
