@import "./Sidebar/_sidebar.scss";
@import "./Dashboard/_dashboard.scss";
@import "./Header/_header.scss";
@import "./Mailbox/_mailbox.scss";
@import "./Shared/_shared.scss";
@import "./Gallery/_gallery.scss";
@import "./Social/_social.scss";
@import "./Blog/_blog.scss";

$font: #839497;
$bg: #efefef;

body {
  margin: 0;
  padding: 0;
  color: $font;
  background-color: $bg;
  font-family: "Open Sans", sans-serif;
  user-select: none;
  cursor: default;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-flow: row nowrap;
}

.page {
  width: 100%;
}

.main {
  background-color: #ffffff;
  margin: 24px;
  border-radius: 4px;
}

.button {
  text-align: center;
  padding: 4px 8px;
  margin: 0px 2px;
  border: 2px solid;
  border-radius: 20px;
  font-size: 10px;
  font-weight: bolder;
  letter-spacing: 2px;
  cursor: pointer;
  transition: all 300ms;
}

.image {
  img {
    width: 100%;
    border-radius: 4px;
  }
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  .settings {
    display: none;
  }

  .header-item:nth-child(1) {
    margin-right: auto;
  }

  .header-item:nth-child(2) {
    margin-left: auto;
  }

  .logo {
    margin: 0 auto;
  }

  .button-bars {
    display: block;
  }
}
