.header {
  background-color: #1b1c1c;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 20px;
  .logo,
  .settings {
    display: flex;
    align-items: center;
  }
  .logo {
    color: white;
    padding: 0px 24px;
  }
  .settings {
    margin-left: auto;
  }
}

.header-button {
  padding: 24px 24px;
  cursor: pointer;
  position: relative;
  &:hover {
    color: white;
  }
}

.button-circle,
.button-user,
.button-envelope,
.button-power-off {
  border-left: 1px solid darken(#839497, 20%);
}

.button-circle {
  color: #ff530d !important;
}

.button-power-off {
  background-color: #d93f00;
  color: white;
  font-weight: bolder;
  &:hover {
    transition: background-color 300ms;
    background-color: lighten(#d93f00, 10%);
  }
}

.drop-caret {
  position: absolute;
  color: #d93f00;
  z-index: 1000;
}

.drop-container {
  position: absolute;
  background-color: #ffffff;
  border-top: 4px solid #d93f00;
  font-size: 12px;
}

.drop-title {
  font-family: 'Montserrat', sans-serif;
  background-color: darken(#ffffff, 10%);
  border-bottom: 1px solid darken(#ffffff, 20%);
  padding: 4px 16px;
}

.notifs {
  .drop-caret {
    top: 50px;
    right: 166px;
  }
  .drop-container {
    top: 75px;
    right: 142px;
  }
  .notifs-group {
    padding: 4px 16px;
    display: grid;
    grid-template-columns: 50px 200px;
  }
}
