@import './_drop.scss';

$font: #839497;
$bg: #2a2c2b;
$theme: #ff530d;

.header {
  background-color: $bg;
  font-size: 20px;
}

.logo {
  color: #ffffff;
  padding: 0px 24px;
}

.settings {
  margin-left: auto;
}

.header-button {
  padding: 24px 24px;
  cursor: pointer;
  position: relative;
  &:hover {
    color: #ffffff;
  }
}

.button-circle,
.button-user,
.button-envelope {
  border-left: 1px solid darken($font, 30%);
}

.button-circle {
  color: $theme !important;
}

.button-power-off {
  background-color: $theme;
  color: #ffffff;
  font-weight: bolder;
  &:hover {
    transition: background-color 200ms;
    background-color: lighten($theme, 10%);
  }
}
